body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
}



@font-face {
    font-family: 'Belwe';
    src: url(./static/BelweBoldBT.ttf) format('truetype');
}